<!-- Shared head -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N40KY81EE2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N40KY81EE2');
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/overlay.css">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/reset_and_variables.css">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Lone Star Institute of Taekwondo",
  "image": "https://lsitkd.com/img/fallback.jpg",
  "@id": "https://lsitkd.com/",
  "url": "https://lsitkd.com/",
  "telephone": "+1-682-554-8531",
  "email": "info@LSITKD.com",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1541 S. Bowen Road",
    "addressLocality": "Pantego",
    "addressRegion": "TX",
    "postalCode": "76013",
    "addressCountry": "US"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 32.7210477,
    "longitude": -97.14903
  },
  "areaServed": [
    { "@type": "City", "name": "Arlington" },
    { "@type": "City", "name": "Pantego" }
  ],
  "priceRange": "$",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "https://schema.org/Monday",
        "https://schema.org/Tuesday",
        "https://schema.org/Wednesday",
        "https://schema.org/Thursday",
        "https://schema.org/Friday"
      ],
      "opens": "17:00",
      "closes": "21:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "https://schema.org/Monday",
        "https://schema.org/Wednesday",
        "https://schema.org/Friday"
      ],
      "opens": "12:00",
      "closes": "13:00"
    }
  ],
  "sameAs": [
    "https://texaskarateleague.com/",
    "https://www.txtkd.org/",
    "https://www.usatkd.org/"
  ]
}
</script>
