<!doctype html>
<html lang="{{ site.language | default('en') }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body class="{{ bodyClass | default('') }}">
    <a class="skip-link" href="#main-content">Skip to content</a>
    {% include "partials/nav.njk" %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.njk" %}
    <script src="https://unpkg.com/lucide@latest" defer></script>
    <script src="/assets/js/main.js" type="module"></script>
  </body>
</html>
